<section id="recent-works" class= "searchbyscrollproducts">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-2 wow fadeInDown">
        <div class="accordion">
          <div class="panel-group" id="accordion1">
            <div class="panel panel-default">
              <div class="panel-heading active">
                <h3 class="panel-title">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                    Categories
                    <i class="fa fa-angle-right pull-right"></i>
                  </a>
                </h3>
              </div>
            </div>
            <div id="collapseTwo1" class="panel-collapse collapse">
              <div class="panel-menu">
                  <div class="parrent ">
                    <ul class="nav nav-tabs nav-stacked">
                      <li id="#tab1" class="analistic-01">
                        <%= link_to "All products", root_path, remote: true%>
                      </li>
                    </ul>
                  </div>
                </div>
              <% @categories.each do |category| %>
                <div class="panel-menu">
                  <div class="parrent ">
                    <ul class="nav nav-tabs nav-stacked">
                      <li id="#tab1" class="analistic-01">
                        <%= link_to category.capitalize, root_path(categories_name: category),remote: true %>
                      </li>
                    </ul>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div><!--/#accordion1-->
      </div>
      <div class="col-xs-12 col-sm-10 wow fadeInDown">
        <h2>Products</h2>
        <%= form_tag(search_products_path, method: :get, remote: true) do %>
          <div class="input-group">
            <%= text_field_tag(:search, nil, :id => "product_name", :class=>"form-control", :placeholder=>"Search for..." ) %>
            <span class="input-group-btn">
              <%= submit_tag "Search", class: "btn btn-default"  %>
            </span>
          </div><!-- /input-group -->
        <% end %>
        <br><br>
        <div id="product-modal">
          <%= render :partial => "product_list" %>
        </div>
        <%= will_paginate @products %> 
      </div> 
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#recent-works-->