<div class="left">
  <title>Add New Product</title>
  <% if current_user.is_user? %>
    <% if @product.present? %>
      <%= form_for @product, :html => {:multipart => true} do |f| %>
          <%= f.label :name %><br />
          <%= f.text_field :name %><br />
          <%= f.label :quantity %><br />
          <%= f.text_field :quantity %><br />
          <strong>Each product</strong> <%= f.label :price %><br />
          <%= f.text_field :price %><br />
          <%= f.label :shipping_charge %><br />
          <%= f.text_field :shipping_charge %><br />
          <%= f.label :image %>
          <%= f.file_field :image %><br />
          Categories:
            <%= autocomplete_field_tag :category_name,'', autocomplete_category_name_products_path, placeholder: "Search categories...." %><br>
        <%= f.submit %>
      <% end %>
    <% else %>
    <% new_product_path %>
    <% end %>
  <% end %>
</div>
