<div class="container">
  <div class="left">
    <h2>Edit profile</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %><br />
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %><br />
        <%= f.label :contact_no %><br />
        <%= f.text_field :contact_no %><br />
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %><br />
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %><br />
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %><br />
        <%= f.label :address %><br />
        <%= f.text_field :address %><br />
        <%= f.label :city %><br />
        <%= f.text_field :city %><br />
        <%= f.label :state %><br />
        <%= f.text_field :state %><br />
        <%= f.label :country %><br />
        <%= f.text_field :country %><br />
        <%= f.label :zipcode %><br />
        <%= f.text_field :zipcode %><br />

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>